<div class="form">
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header *ngIf="!isAdmin">
        <mat-card-title>New Course</mat-card-title>
        <mat-card-subtitle>We don't seem to know about the course you're looking for. Please provide us with a
          description of the course so others can start writing reviews for it!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Course Code" formControlName="courseCode">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Course Name" formControlName="courseName">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput cdkTextareaAutosize placeholder="Course Description" formControlName="courseDesc"></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
