@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, div, p {
  font-family: "Montserrat";
}

.card {
    max-width: 1000px;
    min-height: 225px;
  }
  
.header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Xxxtentacion.jpg/220px-Xxxtentacion.jpg');
  background-size: cover;
  margin-bottom: 5px;
}

.written-review {
  margin-left: 250px;
}

.review-side {
  float: left;
  width: 200px;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.table-container {
  position: relative;
  max-height: 80%;
  overflow: auto;
}
