<div *ngIf="!courseFound">
  <app-new-course
    [newCourse]="course"
    (courseAdded)="courseAdded()"
  ></app-new-course>
</div>
<div *ngIf="courseFound">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ course }}</mat-panel-title>
        <mat-panel-description> {{ courseName }} </mat-panel-description>
      </mat-expansion-panel-header>
      {{ courseDesc }}
    </mat-expansion-panel>
  </mat-accordion>

  <div class="grid-container">
    <!-- <h1 class="mat-h1">Dashboard</h1> -->
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile
        *ngFor="let review of allReviews"
        [colspan]="1"
        [rowspan]="1"
      >
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Prof. {{ review.profName }}
              <button
                mat-icon-button
                class="more-button"
                [matMenuTriggerFor]="menu"
                aria-label="Toggle menu"
                *ngIf="isLogged"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="upvoteReview(review)">Like</button>
                <button mat-menu-item (click)="downvoteReview(review)">Dislike</button>
                <button mat-menu-item (click)="report(review)">Report</button>
              </mat-menu>
            </mat-card-title>
            <span class="vote-display">Votes: {{review.score}}</span>
          </mat-card-header>
          <mat-card-content>
            <mat-card class="review-side mat-elevation-z8">
              <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title> {{ review.reviewer }} </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                Overall Rating: {{review.overallRating}} <br>
                Difficulty: {{review.difficulty}} <br>
                Workload: {{review.workload}} <br>
                Hours Per Week: {{review.hoursPerWeek}} <br>
                Textbook Used: {{review.textbookUsed}} <br>
                Grade Received: {{review.gradeReceived}} <br>
                <!-- Reputation: {{review.score}} <br> -->
              </mat-card-content>
            </mat-card>
            <div class="written-review">{{ review.writtenReview }}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!--
    <ul class="review-list">
    <div *ngFor="let review of allReviews">

      <mat-card class="card">	3 days ago
Procfile
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{review.reviewer}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="review-side">
            Taken With: {{review.profName}} <br>
            Overall Rating: {{review.overallRating}} <br>
            Difficulty: {{review.difficulty}} <br>
            Workload: {{review.workload}} <br>
            Hours Per Week: {{review.hoursPerWeek}} <br>
            Textbook Used: {{review.textbookUsed}} <br>
            Grade Received: {{review.gradeReceived}} <br>
            Reputation: {{review.score}} <br>
            <button mat-raised-button color="primary">Like</button>
            <button mat-raised-button color="warn">Dislike</button>
            <button mat-raised-button routerLink=".">Report</button>
          </div>

          <p class="written-review">
            {{review.writtenReview}}
          </p>


          <br>

        </mat-card-content>
        <mat-card-actions>
                </mat-card-actions>
  -->

  <!-- <mat-card-footer> -->
  <!--
    </mat-card-footer>
        </mat-card>

      </div>
    </ul>
  -->
</div>
