#header {
    margin-left: 50px;
}
#header p{
    margin-left: 60px;
}

.body{

    margin-left: 50px;
}
.items ul{
    padding: 0px;
}
.items ul li{
    list-style: none;
}

.items h3{
    margin: 0
}

.buttons ul li{
    float:left;
    list-style: none;
    margin: 30px;
}