<form id = "reportForm" [formGroup]="reportForm" novalidate (ngSubmit)="onSubmit()">
  <div id="header"  >
    <h1> Report taylorswift263's Review?</h1>
    <p id="quote"><em>"F**k this class"</em></p>
  </div>

  <div class="body">
      <div class="items">
        <ul>
          <li>
            <div >
                <mat-checkbox>Spreading false information.</mat-checkbox>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="items">
      <ul>
        <li>
          <div >
              <mat-checkbox>Spamming.</mat-checkbox>
          </div>
        </li>
      </ul>
    </div>

    <div class="items">
      <ul>
        <li>
          <div >
              <mat-checkbox>Inappropriate content.</mat-checkbox>
          </div>
        </li>
      </ul>
    </div>
    <br>
   
  </div>
  <div class="items">
    <ul>
      <h3>Tell us more:</h3>
      <br>
      <li>
        <div >
            <mat-form-field id="commentBox">
              <textarea matInput placeholder="Comments..."></textarea>
            </mat-form-field>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <br>

  <div style="margin-bottom: 100px;" class="buttons">
      <ul>
        <li>
            <button id="submit" mat-raised-button color="primary" type="submit">Submit</button>
        </li>
        <li>
            <button mat-raised-button color="primary" type="button" (click)="cancel()" >Cancel</button>
        </li>
      </ul>
    </div>
</form>