.card {
    max-width: 1000px;
    min-height: 250px;
  }
  
.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-footer {
  margin-left: 5px;
  border-bottom-color: gray;
}

.written-review {
  margin-left: 100px;
  float: left;
}

.review-side {
  float: left;
  margin-top: 10px;
}