<form [formGroup]="addressForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Course Code" [formControl]="searchBarControl" [matAutocomplete]="auto"
              formControlName="courseCode">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let course of filteredCourses | async" [value]="course">
                {{course}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Professor" formControlName="professor">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 style="float: left;">Overall Rating: {{addressForm.controls['overallRating'].value}}</h4>
          <mat-slider style="float: right; margin-left: 10px;" tickInterval="1" min="0" max="5" formControlName="overallRating"></mat-slider>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 style="float: left;">Difficulty: {{addressForm.controls['difficulty'].value}}</h4>
          <mat-slider style="float: right; margin-left: 10px;" tickInterval="1" min="0" max="5" formControlName="difficulty"></mat-slider>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 style="float: left;">Workload: {{addressForm.controls['workload'].value}}</h4>
          <mat-slider style="float: right; margin-left: 10px;" tickInterval="1" min="0" max="5" formControlName="workload"></mat-slider>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 style="float: left;">Hours: {{addressForm.controls['hours'].value}}</h4>
          <mat-slider style="float: right; margin-left: 10px;" tickInterval="1" min="0" max="5" formControlName="hours"></mat-slider>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 style="float: left;">Grade:</h4>
          <mat-form-field style="float: right; margin-left: 10px;">
            <mat-select formControlName="grade" >
              <mat-option *ngFor="let grade of grades" [value]="grade.grade">
                {{grade.gradeValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Add a description!" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-slide-toggle formControlName="textbookUsed" style="float: right; margin-left: 10px; margin-top: 10px;">Textbook Used</mat-slide-toggle>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
