.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

h4 {
  float: left;
} 

mat-slider {
  float: right; 
  margin-left: 10px;
}

.grade-form {
  float: right; 
  margin-left: 10px;
}

.form-field-width {
  width: 100%;
}

.textbook {
  float: right; 
  margin-left: 10px; 
  margin-top: 10px;
}