<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Credits
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>Matthew Wong, Michael Zhang, Raymond Yang, Sean Geng</p>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Instructions
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>1. Register and login to an account. <br>
    2. View reviews for a course by typing it into the searchbar at the top of any page. <br>
    3. Add reviews by clicking the "+" icon on the right of the navbar. <br>
    4. Add courses that don't exist in the database by searching for it, or by pressing the pencil icon in the courses box in your dashboard. <br>
    5. Leave feedback for reviews (like/dislike, report) by clicking the three dots on the top right corner of a review. <br>
    6. Leave suggestions for the app by pressing the user icon on the right of the navbar.
  </p>

</mat-expansion-panel>