#header {
    margin-left: 50px;
}
.form {
    margin-left: 50px;
}

.items li{
    list-style: none;
    float:left;
}

.slider {
    margin-left: 50px;
}

#hoursPerWeek {
    margin-left: 10px;
}

#textbookUsed {
    margin-left: 10px;
}
