<form id="reviewForm" [formGroup]="reviewForm" novalidate (ngSubmit)="onSubmit()">
  <div id="header">
    <h1>Rate a course!</h1>
    <h4>University of Toronto</h4>
  </div>

  <div class="form">
    <br>
    <h3>Ready to rate a course? <span id="smallText">The fate of the course is in your fingertips!</span></h3>

      <div class="items">
          <ul>
            <li class="textbox">Course name:</li>
            <li class="selectors">
              <div >
                <mat-form-field>
                  <input class = "input"matInput placeholder="Ex: CSC258" formControlName="course">
                </mat-form-field>
              </div>
            </li>
          </ul>
        </div>
        <br>
        <br>
        <br>

        <div class="items">
            <ul>
              <li class="textbox">Instructor name:</li>
              <li class="selectors">
                <div >
                  <mat-form-field>
                    <input matInput placeholder="Ex: Steve Engles" formControlName="profName">
                  </mat-form-field>
                </div>
              </li>
            </ul>
          </div>
          <br>
          <br>
          <br>

    <div class="items">

      
      <ul>
      
        <li class="textbox">1. Rate the course</li>
        <li class="selectors">
            <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            formControlName="overallRating"
            tickInterval="1000"
            min="0"
            max="5"></mat-slider>
        </li>
      </ul>
    </div>
    <br>
    <br>

    <div class="items">
      <ul>
        <li class="textbox"> 2. Level of difficulty</li>
        <li class="selectors">
            <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            formControlName="levelOfDifficulty"
            tickInterval="1000"
            min="0"
            max="5"></mat-slider>
        </li>
      </ul>
    </div>
    <br>
    <br>

    <div class="items">
      <ul>
        <li class="textbox">3. Workload</li>
        <li class="selectors">
            <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            formControlName="workload"
            tickInterval="1000"
            min="0"
            max="5"></mat-slider>
        </li>
      </ul>
    </div>
    <br>
    <br>

    <div class="items">
      <ul>
        <li class="textbox">4. Hours per week:</li>
        <li class="selectors">
          <div >
            <mat-form-field id="hoursPerWeek">
              <input matInput placeholder="Ex: 10" formControlName="hoursPerWeek">
            </mat-form-field>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>

    <div class="items">
      <ul>
        <li class="textbox">5. Textbook Used:</li>
        <li class="selectors">
            <mat-slide-toggle formControlName="textbookUsed"></mat-slide-toggle>
        </li>
      </ul>
    </div>
    <br>
    <br>

    <div class="items">
      <ul>
        <li class="textbox">6. Grade Recieved:</li>
        <li class="selectors">
            <mat-form-field>
              <mat-select placeholder="Grade" formControlName="grade">
                <mat-option *ngFor="let grade of grades" [value]="grade.grade">
                  {{grade.gradeValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>

    <div class="items">
      <ul>
        <li class="textbox">7. Your major:</li>
        <li class="selectors">
          <div >
            <mat-form-field>
              <input matInput placeholder="Ex: Life science" formControlName="major">
            </mat-form-field>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>

    <div class="items">
      <ul>
        <li class="textbox">8. Tell us more: (OPTIONAL)</li>
        <br>
        <li>
          <div>
              <mat-form-field id="commentBox">
                <textarea matInput placeholder="Comments..." formControlName="comments"></textarea>
              </mat-form-field>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    
    <div class="checkbox">
      <ul>
        <li>
          <div id = "checkbox">
              <mat-checkbox formControlName="termsOfService">I have agreed to the terms and services.</mat-checkbox>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <br>
      
  </div>
  <div style="margin-bottom: 100px;" class="buttons">
      <ul>
        <li>
            <button id="submit" mat-raised-button color="primary" type="submit">Submit</button>
        </li>
        <li>
            <button mat-raised-button color="primary" type="button" (click)="cancel()" >Cancel</button>
        </li>
      </ul>
    </div>
</form>