.container-search-area {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 2em 0em 3em 0em;
}

.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.search-input {
    width: 100%;
}
