<div class="container-search-area">
  <h2>Search for a course</h2>
  <form class="search-form">
    <mat-form-field class="search-input">
      <input id="search_coursecode" matInput placeholder="Course Code..." value="">
    </mat-form-field>

    <mat-form-field class="search-input">
      <input id="search_institution" matInput placeholder="School..." value="">
    </mat-form-field>
    <button id="search" mat-stroked-button>Search</button>
  </form>
</div>

<app-sticky-header></app-sticky-header>