<mat-dialog-content>
  <div class="example-container">
    <h3>Currently Taking</h3>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="currentlyTaking"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of currentlyTaking" cdkDrag>
        {{ item }}
        <button (click)="deleteTaking(item)" mat-raised-button color="alert">
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h3>Taken</h3>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="taken"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of taken" cdkDrag>
        {{ item }}
        <button (click)="deleteTaken(item)" mat-raised-button color="alert">
          Delete
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="save()" mat-raised-button color="primary">Save</button>
  <mat-form-field class="padding-left">
    <input
      matInput
      [formControl]="searchBarControl"
      placeholder="Search for a Course"
      [matAutocomplete]="auto"
      #form="ngForm"
    />
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let course of (filteredCourses | async)"
      [value]="course"
      (click)="add(course)"
    >
      {{ course }}
    </mat-option>
  </mat-autocomplete>
</mat-dialog-actions>
