.container-my-ratings {
    width: 65%;
    margin-right: 35px;
    margin-left: auto;

    float: right;
    margin-top: -10px;
    text-align: center;

}

h2 {
    text-transform: uppercase;
}

mat-expansion-panel {
    padding: 1em;
    margin: 1em;
    background: lightskyblue;
}