<div class="container-my-ratings">
  <h2>My Ratings</h2>
  <div id="all-ratings">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>CSC369</strong>
            </mat-panel-title>
            <mat-panel-description>
              <strong>Overall Rating: 5.0</strong>
            </mat-panel-description>
            <mat-panel-description>
              <strong>Difficulty: 5.0</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is a decription of the review</p>
          <mat-action-row>
            <button mat-button color="primary">Edit</button>
            <button mat-button color="primary">Remove</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>CSC309</strong>
            </mat-panel-title>
            <mat-panel-description>
              <strong>Overall Rating: 5.0</strong>
            </mat-panel-description>
            <mat-panel-description>
              <strong>Difficulty: 5.0</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is a decription of the review</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>CSC373</strong>
            </mat-panel-title>
            <mat-panel-description>
              <strong>Overall Rating: 5.0</strong>
            </mat-panel-description>
            <mat-panel-description>
              <strong>Difficulty: 5.0</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is a decription of the review</p>
        </mat-expansion-panel>
          
      </mat-accordion>
  </div>
</div>