.container-my-ratings {
    width: 65%;
    margin-right: 35px;
    margin-left: auto;

    // Need this to be able to be side by side with changeInformation as window decrease
    // guess not?
    // margin-top: -1px;
    text-align: center;

}

h2 {
    text-transform: uppercase;
}

mat-expansion-panel {
    padding: 1em;
    margin: 1em;
    background: lightskyblue;
}