<h1>Raymond Yang</h1>

<div id="ratingContainer">
  <div class="ratings">
    <div class="info">
        <ul>
          <li>CSC343</li>
          <li>Level of Difficulty: 2.0</li>
          <li>Workload: 2.0/5.0</li>
          <li>Hours per week: 4</li>
          <li>Textbook Used: No</li>
          <li>Grade recieved: A</li>
        </ul>
    </div>
    <div class="info">
        <ul>
          <li>***</li>
          <li class="comment">Very light for a CS course</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="bottomText">
      <p>7 of 10 users liked this review</p>
    </div>
  </div>

  <div class="ratings">
    <div class="info">
        <ul>
          <li>CSC258</li>
          <li>Level of Difficulty: 5.0</li>
          <li>Workload: 5.0/5.0</li>
          <li>Hours per week: 20</li>
          <li>Textbook Used: No</li>
          <li>Grade recieved: F</li>
        </ul>
    </div>
    <div class="info">
        <ul>
          <li>*</li>
          <li class="comment">Labs and proejct takes forever!</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>
  
</div>

<form id="changeInfo" [formGroup]="changeInfoForm" novalidate (ngSubmit)="onSave()">
  <ul>
    <li class="caption">
        <p>New Display Name:</p>
    </li>
    <li class="field">
      <mat-form-field>
        <input matInput formControlName="displayName" placeholder ="Display Name">
      </mat-form-field>
    </li>
  </ul>

  <ul>
    <li class="caption">
        <p>Old Password:</p>
    </li>
    <li class="field">
      <mat-form-field>
        <input matInput formControlName="oldPassword" placeholder="password">
      </mat-form-field>
    </li>
  </ul>

  <ul>
    <li class="caption">
        <p>New Password:</p>
    </li>
    <li class="field">
      <mat-form-field>
        <input matInput formControlName="newPassword" placeholder="password">
      </mat-form-field>
    </li>
  </ul>
  
  <ul>
    <li class="caption">
      <button id= "submit" mat-raised-button color="primary" type="submit">Save</button>
    </li>
  </ul>

</form>


