p {
    text-align:center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 1;
}

a {
    color: black;
}

a:hover {
    color: red;
}

.option-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    // padding: 2em 0em 3em 0em;
    // border: 1px solid;
    // padding: 20px;
    // width: 80%;
}

mat-grid-tile {
    border-radius: 20%;
}

img {
    // width: 100%;
    width:100vw;
    height:90vh;
    z-index: -2;
    margin: 0;
    padding: 0;
}