p {
    text-align:center;  
}

a {
    color: black;
}

a:hover {
    color: lightcyan;
}

.option-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 2em 0em 3em 0em;
    // border: 1px solid;
    // padding: 20px;
    // width: 80%;
}
