<form [formGroup]="editUserForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last Name" formControlName="lastName" name="lastName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 style="float: left;">Year of Study: {{editUserForm.controls['yearOfStudy'].value}}</h5>
          <mat-slider style="float: left; margin-left: 10px;" min="1" max="5" tickInterval="1" formControlName="yearOfStudy" name="yearOfStudy"></mat-slider>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let program of user.programOfStudy" [selectable]="selectable" [removable]="removable"
                (removed)="remove(program)">
                {{program}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Program of Study" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="overflow-hidden">
      <div class="center">
        <button mat-raised-button color="primary" type="button" (click)="save()">Save</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
