.spacer {
  flex: 1 1 auto;
}

.logo {
  cursor: pointer;
  text-align: center;

  width: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

// mat-toolbar-row {
//   background: rgb(46, 41, 41);
// }