<div class="sticky">

<mat-toolbar color="primary">

  <mat-toolbar-row>
    <div class="logo" matRipple (click)="goHome()">RateMyCourses</div>
    <!-- <a routerLink="/" color="primary"><span>RateMyCourses</span></a> -->
    <form (submit)="search()" class="search-bar">
      <mat-form-field class="width-full">
        <input matInput [formControl]="searchBarControl" placeholder="Search for a Course" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let course of filteredCourses | async" [value]="course" (click)="search(course)">
          {{course}}
        </mat-option>
      </mat-autocomplete>
    </form>
    <button mat-icon-button (click)="newReview()" *ngIf="loggedIn">
      <mat-icon>note_add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button *ngIf="loggedIn" mat-menu-item (click)="dashboard()">Dashboard</button>
      <button *ngIf="loggedIn" mat-menu-item (click)="suggestion()">Suggestion?</button>
      <button *ngIf="loggedIn" mat-menu-item (click)="logout()">Logout</button>
      <button *ngIf="!loggedIn" mat-menu-item (click)="login()">Login/Register</button>
      <button mat-menu-item>About</button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>
</div>