<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>RateMyCourses</span>
    <span class="spacer"></span>
    <!-- <button mat-button>About</button> -->
    <button *ngIf="!loggedIn" mat-button>About</button>
    <button *ngIf="loggedIn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>About</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
